doctype html 

html(lang="en")
  include ../components/head
  body
    include ../components/header
    main
      block content
    include ../components/footer
    script(src="../js/script.js")
    block scripts