header
  div.Header--desktop
    div.Header-perfileContainer
      h3.Header-title Dear Blog
      figure.Header-boxPhoto
        img(src="../assets/img/mia-photo.jpg", alt="Mia's perfil photo", class="Header-perfilPhoto")
        i
          figcaption.Header-name Mia Olivera
    nav.Header-nav 
      ul.Header-list
        li.Header-item 
          a(href="/", class="Header-link") Home
        li.Header-item 
          a(href="/blog", class="Header-link") Blog
        li.Header-item 
          a(href="/contact", class="Header-link") Contact

  div.Header--mobile
    a(href="/")
      h3.Header--mobile-title Dear Blog
    button(id="hamburger" class=["hamburger", "hamburger--collapse"] type="button")
      span(class="hamburger-box")
        span(class="hamburger-inner")
  div.Header--mobile-menuBox
    nav.Header--mobile-nav
      ul.Header--mobile-list 
        li.Header--mobile-item 
          a(href="/", class="Header--mobile-link") Home
        li.Header--mobile-item 
          a(href="/blog", class="Header--mobile-link") Blog
        li.Header--mobile-item     
          a(href="/contact", class="Header--mobile-link") Contact