extends ../layout/layout

block content 
  section
    h1= message
    i
      p.text-small I would love to talk to you

  section 
    h2 Contact me
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, corporis dicta cum consequuntur accusamus esse amet, possimus, voluptatum nemo quis quaerat doloribus! Velit eos itaque rem sapiente dolore distinctio ullam minima sequi at pariatur reprehenderit beatae maxime animi optio ducimus ad magnam error recusandae, enim et placeat incidunt accusantium dolor. Optio et ab ipsam possimus placeat minima quis distinctio modi voluptas sequi omnis, labore suscipit necessitatibus maiores quisquam praesentium velit a explicabo quos, maxime doloremque.
    div.contact-boxInfo
      div.contact-box
        h2 Lorem, ipsum.
        ul.contact-list
          li Mia Olivera
          li +58 4265896547
          li miaoliver@example.com
          li miaoliver@job.com
          li US, New York
      div.contact-box
        h2 Lorem, ipsum dolor.
        ul.contact-list
          li Instagram: Mia_Olivera
          li Twitter: @miaolivare
          li Linkedin: Mia Olivera
          li Behance: The Mia's art
          li Web: https://adaywithmia.com