extends ../layout/layout

mixin post(address_img, title)
  a(href="#")
    div.post
      p.post-Description This is a large description... Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur esse est odit pariatur explicabo dolorum quibusdam. Mollitia exercitationem odio provident?
      figure.post-BoxImg 
        img(src=`assets/img/posts/${address_img}`, alt= title, class="post-Img")
      h3.post-Title #{title}

block content 
  section
    h1= message
    i
      p.text-small Welcome to my Dear Blog...

  section
    div(class=["container-textImage", "container-textImage--right"])
      div
        h2 Hi, my name is Mia Olivera
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, tempora? Magnam, consequatur rem! Eaque dignissimos aut nemo maxime consectetur reprehenderit. Adipisci, vero saepe voluptas molestias nisi accusantium eius excepturi culpa praesentium obcaecati ad at fuga qui. Recusandae, ut. Commodi, repudiandae! Sed commodi cum provident deserunt repellat ex maxime iste consectetur!
      figure 
        img(src="assets/img/mia-photo-1.jpg" alt="Mia Olivera")

    div(class=["container-textImage", "container-textImage--left"])
      figure 
        img(src="assets/img/mia-photo-2.jpg" alt="Mia Olivera")
      div
        h2 My life is...
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, inventore corporis. Dignissimos fuga dolorem voluptate consequuntur quo sint cupiditate. Excepturi harum reprehenderit totam quaerat ad aut consequuntur amet ipsum? Eos vitae ullam dolore, asperiores tempora rem ea quaerat maxime, exercitationem eligendi odio deserunt pariatur veniam incidunt quod dignissimos quae maiores. Incidunt nemo odio quam ab suscipit, deserunt quidem, dolor commodi sunt expedita temporibus molestiae dolores?

    div(class=["container-textImage", "container-textImage--right"])
      div
        h2 I love my job 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore consectetur quae placeat, deserunt libero adipisci nostrum! Odit, explicabo consequuntur? Inventore, rerum ipsum eius neque dolorum eum tenetur, exercitationem praesentium commodi obcaecati, ipsam et asperiores doloremque.   
      figure 
        img(src="assets/img/mia-photo-3.jpg" alt="Mia Olivera")

  section 
    h2.text-center I write too!!!
    div.grid
      +post("post1.jpeg", "This is a title")
      +post("post2.jpg", "This is a title")
      +post("post3.jpg", "This is a title")
    a(href="/blog", class=["text-small", "text-decoration"]) More Posts ->

  section 
    div(class=["contact-container", "negative-box"])
      div
        h2(class=["negative-text", "text-center"]).negative-text Contact Me
        p(class=["negative-text", "contact-text"]) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum quod, consequuntur repellendus expedita, illum debitis minima, adipisci odio accusantium at obcaecati saepe unde dolore! Nobis voluptatem facilis, autem odio vel obcaecati nostrum recusandae veritatis magni inventore accusantium, distinctio eius tenetur.
      div
        a(href="/contact")
          img(src="assets/img/icons/flechas.svg", alt="flechas", class="contact-img")

block scripts
  script(src="js/posts.js") 