h1#posttitle Post Title
p
  img(src='../assets/img/posts/post3/post3.jpg', alt='Other image')
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et numquam ut voluptate eveniet fuga tenetur reiciendis, accusamus corporis dolorem incidunt nulla eum maiores illo quas tempora similique, quia beatae totam at architecto quod sint dolores in consequuntur. Temporibus odit, sunt recusandae doloribus deleniti consequatur cum, laboriosam alias aliquam, a pariatu.
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et numquam ut voluptate eveniet fuga tenetur reiciendis, accusamus corporis dolorem incidunt nulla eum maiores illo quas tempora similique, quia beatae totam at architecto quod sint dolores in consequuntur. Temporibus odit, sunt recusandae doloribus deleniti consequatur cum, laboriosam alias aliquam, a pariatu.
h2#thiisah2 Thi is a h2
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus voluptate distinctio temporibus quam ipsum quod odio sequi voluptas quas! Porro nemo suscipit sapiente doloribus dolor cumque, praesentium tempore. Voluptate.
ul
  li item 1
  li item 2
  li item 3
  li item 4
h2#loremipsumdolorsit Lorem ipsum dolor sit.
p
  | Lorem 
  em ipsum dolor sit amet
  | , consectetur 
  strong adipisicing
  |  elit. Dolore, iure!
p
  a(href='https://google.com') google link
p
  | Lorem ipsum dolor 
  a(href='https://platzi.com') sit amet consectetur
  | , adipisicing elit. Consectetur velit, eligendi provident quas facere ex culpa porro sint soluta ducimus.
h2#loremipsumdolorsitametconsecteturadipisicing Lorem ipsum dolor sit amet, consectetur adipisicing.
p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aut temporibus numquam nostrum saepe repudiandae facilis quibusdam enim nihil necessitatibus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aut temporibus numquam nostrum saepe repudiandae facilis quibusdam enim nihil necessitatibus.
p
  img(src='../assets/img/posts/post1/post1.jpeg', alt='title image')
p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aut temporibus numquam nostrum saepe repudiandae facilis quibusdam enim nihil necessitatibus.